body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 40px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  line-height: 32px;
  color: #5a626e;
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin: 25px 0 25px 20px;
}

.menu ul {
  padding: 0;
}

.menu ul li {
  display: inline-block;
  list-style: none;
}

.menu ul li a {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 47px;
  color: #868b94;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

.menu ul li a:hover {
  font-weight: 500;
}

.header__burger {
  display: none;
  width: 50px;
  height: 50px;
  background: transparent;
  position: relative;
  z-index: 3;
}

.header__burger span,
.header__burger span::before,
.header__burger span::after {
  position: absolute;
  height: 3px;
  width: 20px;
  background: #0f0e0f;
  top: 50%;
  margin-top: -1.5px;
  left: 50%;
  margin-left: -10px;
}

.header__burger span::before,
.header__burger span::after {
  content: '';
  display: block;
  transition: 0.2s;
}

.header__burger span::before {
  transform: translateY(-6px);
}

.header__burger span::after {
  transform: translateY(6px);
}

.burger__active span {
  height: 0;
}

.burger__active span::before {
  transform: rotate(45deg);
}

.burger__active span::after {
  transform: rotate(-45deg);
}

.menu_item {
  margin-right: 45px;
}

.header__bg {
  background: url("../img/bg.jpg") no-repeat top center/cover;
  min-height: 843px;
}

.header__title {
  padding-top: 200px;
  padding-left: 40px;
  max-width: 500px;
  color: #f7f6f2;
}

.header__title h1 {
  font-size: 52px;
  font-family: 'Ubuntu', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

.header__title .header__text {
  margin-bottom: 60px;
}

.header__title .header__text span {
  font-size: 24px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.header__title span {
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

.header__title span span {
  padding: 6px 10px;
  background: #ffce54;
  border-radius: 4px;
}

.header__form {
  max-width: 580px;
  padding-left: 40px;
  margin-top: 35px;
}

.header__form form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__form label input {
  width: 423px;
  height: 55px;
  border-radius: 4px;
  border: none;
  padding-left: 28px;
  padding-right: 7px;
  font-weight: 300;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  color: #cecfd2;
}

.header__form .header__btn {
  width: 110px;
  height: 57px;
  background: #77c344;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  margin-bottom: 15px;
}

.company {
  background-color: #f8f8f8;
  min-height: 160px;
}

.company__inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  padding-top: 60px;
}

.company__inner img {
  padding: 7px;
}

.about__inner {
  background: url("../img/macbook.png") no-repeat right;
  min-height: 630px;
  margin: 120px 0 90px 0;
  padding-left: 30px;
}

.about {
  padding-top: 110px;
}

.about__block {
  width: 505px;
  display: flex;
  flex-direction: column;
}

.about__content {
  margin-bottom: 35px;
}

.about__title {
  display: flex;
  align-items: center;
}

.about__title img {
  margin-right: 20px;
}

.about__title span {
  font-size: 22px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  color: #4f5765;
}

.about__text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #9499a2;
}

.services {
  background: #eeeeee;
}

.services .title {
  padding-top: 160px;
}

.services__inner {
  background: url("../img/boat.png") no-repeat top right;
  min-height: 694px;
}

.services__tabs {
  padding-top: 150px;
}

.tabs__panel {
  max-width: 700px;
  height: 200px;
}

.services__title {
  display: flex;
  align-items: center;
}

.services__title img {
  margin-right: 20px;
}

.services__title span {
  font-size: 28px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: #4f5765;
}

.services__text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #9499a2;
  line-height: 32px;
}

.tabs {
  display: flex;
  align-items: center;
  max-width: 700px;
  justify-content: flex-end;
}

.tabs li {
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
}

.tabs li span {
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  color: #cbcccf;
}

.tabs li.is-active {
  height: 26px;
  width: 26px;
  background: #64a4d7;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs li.is-active span {
  color: #fff;
}

.tabs__panel {
  display: none;
}

.tabs__panel.is-active {
  display: block;
}

.form {
  padding-top: 130px;
  display: flex;
  justify-content: center;
}

.form .title {
  margin-bottom: 40px;
}

.form form {
  width: auto !important;
  margin-top: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 90px;
}

.form form label {
  width: 100%;
  margin-right: 25px;
}

.form form input {
  width: 95% !important;
  height: 67px;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  padding: 0 10px 0 25px;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  color: #5a626e;
}

.form form button {
  width: 190px;
  height: 67px;
  border: none;
  border-radius: 4px;
  background: #77c344;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.form__text {
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  font-size: 24px;
  line-height: 32px;
  color: #5a626e;
  font-weight: 300;
  display: block;
  text-align: center;
}

.footer {
  background-color: #f9f9f9;
  min-height: 140px;
}

.footer__logo {
  padding-left: 20px;
}

.footer__inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 140px;
  justify-content: space-between;
}

.footer__nav {
  display: flex;
  align-items: center;
  padding-right: 70px;
}

.footer__nav li {
  display: inline-block;
}

.footer__nav li a {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #4d5664;
  text-transform: uppercase;
  margin-left: 30px;
}

.footer__nav li a:hover {
  font-weight: 500;
}

.vertical-border {
  height: 26px;
  width: 1px;
  border-right: 1px solid #d3d3d3;
  margin: 0 17px;
}

.footer__contact a {
  font-size: 23px;
}

.icon-twitter {
  color: #4cbcf6;
}

.icon-facebook {
  margin: 0 25px;
  color: #4a6daa;
}

.icon-google {
  color: #e74c40;
}

@media (min-width: 801px) {
  nav ul {
    display: block !important;
  }
}

@media (max-width: 1300px) {
  .about__inner {
    background: none;
    min-height: 300px;
    margin: 40px 0 20px 0;
  }
  .about {
    padding-top: 50px;
  }
  .about__block {
    flex-direction: row;
    width: auto;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .about__content {
    width: 45% !important;
  }
}

@media (max-width: 1000px) {
  .header__form form {
    flex-direction: column;
    align-items: flex-start;
  }
  .header__form form .header__btn {
    margin-top: 20px;
  }
  .services .title {
    padding-top: 60px;
  }
  .services__tabs {
    padding-top: 50px;
  }
  .services__inner {
    min-height: 500px;
  }
  .footer__nav {
    flex-direction: column-reverse;
    padding-right: 0;
  }
  .footer__nav .vertical-border {
    display: none;
  }
}

@media (max-width: 900px) {
  .header__bg {
    background: url("../img/bg-light.jpg") left;
    min-height: 600px;
  }
  .header__title {
    padding-top: 50px;
  }
}

@media (max-width: 800px) {
  nav ul {
    display: none;
    position: absolute;
    z-index: 2;
    background: #fff;
    right: 0;
    top: 65px;
  }
  .header__burger {
    display: block;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .menu li {
    display: block !important;
    padding-left: 30px;
  }
  .company__inner {
    padding: 20px 0;
  }
  .tabs {
    margin-top: 30px;
  }
  .form {
    padding-top: 50px;
  }
  .form form {
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .footer__inner {
    flex-direction: column;
  }
  .footer__inner .footer__logo {
    padding-left: 0;
    margin: 25px 0;
  }
  .footer__inner .footer__nav {
    width: 100%;
  }
  .footer__inner .footer__nav ul {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .footer__inner .footer__nav ul li a {
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  .header__title {
    padding-left: 20px;
  }
  .header__form {
    padding-bottom: 15px;
    padding-left: 20px;
  }
  .header__form label input {
    width: 100% !important;
  }
  .about__content {
    width: 100% !important;
  }
  .about__inner {
    padding-left: 15px;
  }
  .tabs {
    margin-top: 90px;
    padding-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .tabs {
    margin-top: 165px;
  }
  .form form {
    flex-direction: column;
  }
  .form form label {
    margin: 0 auto;
  }
  .form form input {
    margin-bottom: 20px;
    width: 92% !important;
    font-size: 20px;
  }
  .footer__nav ul {
    justify-content: space-between !important;
  }
}

@media (max-width: 400px) {
  .header__title {
    padding-left: 0;
  }
  .header__title h1 {
    font-size: 45px;
  }
  .header__form {
    padding-left: 0;
  }
  .logo {
    margin-left: 0;
  }
  .about__inner {
    padding-left: 0;
  }
  .services__text p {
    line-height: 28px;
  }
  .tabs {
    margin-top: 200px;
  }
  .form form input {
    padding: 0 5px 0 10px;
  }
  .footer__nav ul {
    flex-direction: column;
    text-align: center;
  }
  .footer__nav ul li {
    margin-bottom: 10px;
  }
}

@media (max-width: 350px) {
  .header__form label input {
    width: 85% !important;
  }
  .about__title img {
    margin-right: 10px;
  }
  .about__title span {
    font-size: 20px;
    font-weight: 500;
  }
  .services__text p {
    line-height: 24px;
  }
}
